html{
    margin: ;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: #303952;
    color: white;
    font-size: 1.1em;
}
h1 {
    font-family: Helvetica;
    font-size: 1.8em;   
 }
strong {
    color: orangered;
}
span {
    background: lightgray;
    color: black;
}